<h1>Dashboard#testeinicial</h1>
<p>Find me in app/views/dashboard/open.html.erb</p>
<h2> essa porra é hard pra caralho. Tem que se acostuma a mexer.</h2><br>
<h2> tem um canal no Youtube em que o cara faz umas video aulas boas sobre rails. coloca na velocidade 2 e viva</h2><br>
<h2>https://www.youtube.com/watch?v=bccXWzrNvb0&index=3&list=PLe3LRfCs4go-mkvHRMSXEOG-HDbzesyaP</h2>

<h3> fiz um pequeno teste com variavel de instancia que está la no controller:=> <%=@bolasAquaticas%></h3>


<%= link_to "Um teste", "inicio"%>